/*
	Primary styling for the site.
*/
a:link, a:active {
	color:				#0000CC;
}

a:visited {
	color:				#393F40;
}

a:hover {
	background-color:	#8C8A8A;
}

a.left:link, a:active, a:visited {
	color:				#476264;
}

a.left:hover {
	background-color:	#476264;
	color:				#E5E5E5;
}

body {
	background-color:	#7F8C8D;
	color: 				#393F40;
	height: 			100%;
	margin: 			0;
	padding: 			0%;
	width: 				100%
}

div.body {
	background-color:	#E5E5E5;
	clear: 				left;
	display: 			flex;
	min-height:			95%;
}

div.container {
	height: 			99%;
	width: 				100%;
}

div.content {
	float: 				left;
	min-height: 		100%;
	padding-left:		2%;
	width: 				83%;
}

div.footer {
	background-color:	#7F8C8D;
	bottom:				0;
	height: 			5%;
	position:			fixed;
	width: 				100%;
}

div.left {
	float: 				left;
	height: 			100%;
	width: 				15%;
}

div.right {
	float: 				left;
	height: 			100%;
	width: 				85%;
}

div.scrolling {
	background-color:	#7F8C8D;
	height:				95%;
	position:			fixed;
	text-align:			center;
	width:				inherit;
}

h1, h2 {
	text-align: 		center;
}

h1 {
	font-size: 			2em;
}

h2 {
	font-size: 			1.5em;
}

h2.navigation {
	font-size: 			1.25em;
}

html {
	
	font-family: 		Arial, Verdana, Helvetica, sans-serif;
	font-size: 			100%;
	height: 			100%;
}

img {
	display: 			block;
	margin-left: 		auto;
	margin-right: 		auto;
	max-height: 		100%;
	max-width: 			100%;
}

img.picture {
	float:				left;
	margin-right:		1%;
	max-width:			15%;
}

p.copyright {
	font-size: 			0.5em;
	padding-right:		2%;
	text-align: 		right;
}

p.lastUpdated {
	font-size:			0.5em;
	text-align:			center;
}

p.validators {
	text-align: 		left;
}

p.home {
	width:				95%;
}

ul.navigation {
	display: 			block;
	list-style-type: 	none;
}